@import "../../../Assets/main-sass.scss";

.Register {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .form-header {
    background-color: $dark-blue;
    width: 100%;
    padding: 0.5em 0;
  }

  h3 {
    color: $light-text;
    font-weight: 600;
  }

  form {
    width: 40em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border: 1px solid $dark-blue;
    background-color: $main-bg;

    label {
      display: block;
      font-size: $small-text;
      margin-top: 1em;
      color: $secondary-text;
    }

    input, select {
      width: 90%;
      height: 2.5em;
      border: 1px solid $secondary-bg;
      color: $secondary-text;
      margin-top: 0.5em;
      text-align: center;

      &::placeholder {
        color: $secondary-text;
        font-size: $small-text;
      }

      &:focus {
        outline: 1px solid $gold;
      }
    }

    button {
      width: 90%;
      height: 2.5em;
      border: none;
      background-color: $dark-blue;
      color: $light-text;
      margin: 1.5em 0;
      &:hover {
        background-color: $gold;
      }
    }
  }

  .form-body {
    padding: 1em;
  }

  p {
    display: block;
    font-size: $small-text;
    margin: 1em 0 0 0;
  }

  small {
    display: block;
    font-size: $small-text;
    color: $gold;
  }

  
}
